*{
    margin: 0; 
    padding: 0; 
    box-sizing: border-box;
}

.navbar{
    min-height: 65px; 
    z-index: 1050;
}

.sidebar{
    width: 250px; 
    height: calc(100vh - 65px); 
    position: fixed; 
    top: 65px; 
    left: 0; 
    overflow-y: auto; 
}

.sidebar .nav-link{
    padding: .8rem 1rem; 
    border-radius: 10px ; 
    transition: 0.2s; 
    font-weight: 500;
}

.side .nav-link:hover{
    background: #eef2ff; 
    color: #4f46e5; 
}

.sidebar .nav-link.active{

    background:#0EA5E9;

    color:white !important;

}
.main{
    flex: 1; 
    margin-left: 250px; 
    padding: 30px;
}

.stat-card{
    border: none; 
    border-radius: 15px;
}

.stat-card i{
    font-size: 28px;
}

@media (max-width:992px)  { 
    .sidebar{
        display: none; 
    }
    .main{
        margin-left: 0; 
        padding: 20px;
    }
    
}