i.bi{
    display: inline-block;
    cursor: pointer;
    transition: transform 0.3s ease;
}

i.bi:hover{
    transform: scale(1.2);
}

.blocked{
    cursor: not-allowed !important;
}

.User{
    background-color: #D1FAE5 !important;
    color: #065F46 !important;
}

.Admin{
    background-color: #DBEAFE !important;
    color: #1D4ED8 !important;
}