i.bi{
    display: inline-block;
    cursor: pointer;
    transition: transform 0.3s ease;
}

i.bi:hover{
    transform: scale(1.2);
}

.blocked{
    cursor: not-allowed !important;
}

.User{
    background: #F8D7DA !important; 
    color: #DC3545 !important;
}

.Admin{
    background: #CFE2FF !important; 
    color: #0D6EFD !important;
}