.Responded{
    background-color: #22C55E !important;
    color: white;
}

.Pending{
    background-color: #F59E0B !important;
    color: white;
}

i.bi{
    display: inline-block;
    cursor: pointer;
    transition: transform 0.3s ease;
}

i.bi:hover{
    transform: scale(1.2);
}

.blocked{
    cursor: not-allowed !important;
}


.modal-card{
    border: none !important;
    border-radius: 12px !important;
    overflow: hidden; 
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    transition: 0.5s;
    background: var(--surface) !important;
}

.modal-icon:hover{
    transform: scale(1) !important;
}

.Health{
    background-color: #22C55E !important; 
    color: white;
}

.Infrastructure{
    background-color: #0D6EFD !important;   
    color: white;
}

.Law{
    background-color: #DC3545 !important;  
    color: white;
}

.Administration{
    background-color: #6F42C1 !important;  
    color: white;
}