:root{
    --bg: #F1F5F9;
    --surface: #FFFFFF;
    --surface-hover: #F1F5F9;

    --text: #0F172A;
    --text-secondary: #64748B;

    --primary: #4F46E5;
    --primary-hover: #0EA5E9 ;

    --border: #E2E8F0;

    --shadow: rgba(15, 23, 42, 0.08);

    --icon-bg: #E0E7FF;
    --icon-color: #4F46E5;
}

.dark{
    --bg: #0F172A;
    --surface: #1E293B;
    --surface-hover: #334155;

    --text: #F8FAFC;
    --text-secondary: #CBD5E1;

    --primary: #818CF8;
    --primary-hover: #6366F1;

    --border: #475569;

    --shadow: rgba(0, 0, 0, 0.4);

    --icon-bg: #334155;
    --icon-color: #FACC15;
}

.text , .nav-link , .navbar , .navbar-brand{
    color: var(--text) !important;
}

.bg{
    background: var(--bg) !important;
}

.icon-bg{
    width: 42px;
    height: 42px;

    display: flex;
    align-items: center;
    justify-content: center;

    background: var(--icon-bg);
    color: var(--icon-color);

    border-radius: 50%;
    transition: .3s;
    flex-shrink: 0;
}

.icon-bg:hover{
    transform: scale(1.1);
}

.surface{
    background: var(--surface) !important;
}

.nav-item a{
    font-size: 18px !important;
}

.active{
    color: var(--primary-hover) !important;
}
.Active-bg{
    background-color: #D1FAE5 !important;
    color: #065F46 !important;
}

.In {
    background-color: #FEE2E2 !important;
    color: #B91C1C !important;
}


.nav-item a:hover{
    color: var(--primary-hover)  !important;
    transition: 0.4s;
}

.card-footer a{
    text-decoration: none; 
    color: var(--text); 

}

.card{
    border: none !important;
    border-radius: 18px !important;
    overflow: hidden; 
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    transition: 0.5s;
    background: var(--surface) !important;
    }

.custom-card {
    border-radius: 18px;
    overflow: hidden;
    background: var(--surface);
    border: var(--bs-card-border-width) solid var(--bs-card-border-color);
    box-shadow: var(--bs-box-shadow-sm);
    padding: 20px;
    transition: all 0.3s ease;
}

/* .custom-card:hover {
    box-shadow: var(--bs-box-shadow);
    transform: translateY(-2px);
} */

.card-footer{
    border-top: 1px solid var(--border) !important;
    background: var(--surface) !important;
}   

.card:hover{
    transform: translateY(-4px);
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.required{
    color: red;
}
.red{
    color: #dc3545  !important;
}

.primary{
    color: var(--primary);
}

.table-border{
    border: 1px solid var(--border);
}

.view{
    background: var(--primary-hover) !important;
}


.menu-item.active{
    background:var(--primary-hover) !important;
    color:white !important;
}

.menu-item:hover{
    background: var(--primary-hover); 
    color: #F8FAFC !important; 
}

